

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  Base Code
  html, body{
    height: 100%;
  }
  body{
    -webkit-font-smoothing: antialiased;
    font-family: font-family--primary;
    text-rendering: optimizeLegibility;
    background: #fcfcfc;
  }
  
  .mock-up-link {
    display: none;
    
    @include mq(768) {
      display: block;
    }
  }
  
  .main-container-wrapper {
    background-color: main-background-color;
    min-width: 320px;
    min-height: 568px;
    max-width: 414px;
    overflow-y: auto;
  
    @include mq(415) {
      -moz-box-shadow: 0px 32px 47px rgba(32, 23, 23, 0.09);    
      -webkit-box-shadow: 0px 32px 47px rgba(32, 23, 23, 0.09);
      box-shadow: 0px 32px 47px rgba(32, 23, 23, 0.09);
      margin: 24px auto;
    }
  }
  
  header {
    background-color: white;
    display: flex;
    height: 58px;
    justify-content: space-between;
    overflow: hidden;
    position: relative;
  }
  
  .header {
    @include e(btn) {
      background-color: $primary-color;
      border: 2px solid $white;
      border-radius: 50%;
      -moz-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
      -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
      box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
      cursor: pointer;
      height: 80px;
      padding-top: 18px;
      position: absolute;
      top: -25px;
      width: 80px;
      
      &:hover,
      &:focus {
        background: darken($primary-color, 8%);
        transition: all 0.3s ease-in;
        outline: none;
      }
  
      .icon {
        display: inline-block;
      }
  
      @include m(left) {
        left: -25px;
        padding-left: 38px;
        text-align: left;
      }
  
      @include m(right) {
        padding-right: 32px;
        right: -25px;
        text-align: right;
      }
    }
  }
  
  .calendar-container {
    background-color: white;
    padding: 16px;
    margin-bottom: 24px;
  
    @include e(header) {
      display: flex;
      justify-content: space-between;
    }
  
    @include e(btn) {
      background: transparent;
      border: 0;
      cursor: pointer;
      font-size: 16px;
      outline: none;
      color: $calendar-button-color;
  
      &:hover,
      &:focus {
        color: palette(gray-shades, darker);
        transition: all 0.3s ease-in;
      }
    }
  
    @include e(title) {
      color: $black;
      font-size: $lg-font-size;
      font-weight: $font-weight--bold;
    }
  }
  
  .calendar-table {
    margin-top: 12px;
    width: 100%;
  
    @include e(item) {
      border: 2px solid transparent;
      border-radius: 50%;
      color: $calendar-item-text;
      font-size: $sm-font-size;
      font-weight: $font-weight--bold;
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      
      &:hover {
        background: #f8fafa;
        -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
        -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
        transition: 0.2s all ease-in;
      }
    }
  
    @include e(row) {
      display: flex;
      justify-content: center;
    }
  
    @include e(header) {
      border-bottom: 2px solid palette(gray-shades, lightest);
      margin-bottom: 4px;
  
      .calendar-table__col {
        display: inline-block;
        color: $gray;
        font-size: $sm-font-size;
        font-weight: $font-weight--bold;
        padding: 12px 3px;
        text-align: center;
        text-transform: uppercase;
        width: 40px;
        height: 38px;
  
        @include mq(360) {
          width: 46px;
        }
  
        @include mq(410) {
          width: 54px;
        }
      }
    }
  
    @include e(body) {
      .calendar-table__col {
        width: 40px;
        height: 42px;
        padding-bottom: 2px;
  
        @include mq(360) {
          width: 46px;
          height: 48px;
        }
  
        @include mq(410) {
          width: 54px;
          height: 56px;
        }
      }
    }
  
    @include e(today) {
      .calendar-table__item {
        border-color: $calendar-item-border;
        background-color: palette(gray-shades, lightest);
        -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
        -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
      }
    }
  
    @include e(event)  {    
      .calendar-table__item {
        background-color: $blue;
        border-color: $calendar-item-border;
        -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
        -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
        color: $white;
      }
  
      @include m(long) {
        overflow-x: hidden;
        
        .calendar-table__item {
          border-radius: 0;
          border-width: 2px 0;
        }
      }
  
      @include m(start) {
        .calendar-table__item {
          border-left: 2px solid $white;
          border-radius: 50% 0 0 50%;
        }
  
        &.calendar-table__col:last-child {
          .calendar-table__item {
            border-width: 2px;
          }
        }
      }
  
      @include m(end) {
        .calendar-table__item {
          border-right: 2px solid $white;
          border-radius: 0 50% 50% 0;
        }
  
        &.calendar-table__col:first-child {
          .calendar-table__item {
            border-width: 2px;
          }
        }
      }
    }
  
    @include e(inactive) {
      .calendar-table__item {
        color: palette(gray-shades, light);
        cursor: default;
        
        &:hover {
          background: transparent;
          box-shadow: none;
        }
      }
    
      &.calendar-table__event {
        .calendar-table__item {
          color: $white;
          opacity: 0.25;
          
          &:hover {
            background: $blue;
            -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
            -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
            box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
          }
        }
      }
    }
  }
  
  .events-container {
    padding: 0 15px;
  }
  
  .events {
    @include e(title) {
      color: palette(gray-shades, lighter);
      display: inline-block;
      font-size: $default-font-size;
      font-weight: $font-weight--semi-bold;
      margin-bottom: 16px;
    }
  
    @include e(tag) {
      background: $blue;
      border: 2px solid $calendar-item-border;
      -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
      -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
      box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
      border-radius: 20px;
      color: $white;
      font-size: $xsm-font-size;
      font-weight: $font-weight--semi-bold;
      width: 60px;
      margin-left: 16px;
      padding: 5px 2px;
      text-align: center;
  
      @include m(highlighted) {
        background: $yellow;
      }
    }
  
    @include e(item) {
      background: $white;
      border-left: 8px solid $primary-color;
      border-radius: 2px;
      -moz-box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.05);
      -webkit-box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.05);
      box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.05);
      padding: 15px 16px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 16px;
  
      @include m(left) {
        width: calc(100% - 76px);
      }
    }
  
    @include e(name) {
      font-size: $sm-font-size;
      font-weight: $font-weight--bold;
      color: $black;
      display: block;
      margin-bottom: 6px;
    }
  
    @include e(date) {
      font-size: $sm-font-size;
      color: palette(gray-shades, darker);
      display: inline-block;
    }
  }
  
  
  
  