.sign{
background-color:brown; 
color:#fff; 
border-radius:30px; 
font-size:15px; 
width:190px; 
margin:auto; 
padding:10px;
margin-top:40px;
text-decoration: none;
}
.register{
    background-color:brown; 
    color:#fff; 
    border-radius:30px; 
    font-size:15px; 
    width:190px; 
    margin:auto; 
    padding:10px; 
    margin-top:15px;
}
