body {
    font-family: "Open Sans", sans-serif;
    color: #444444;
  }
  
  a {
    color: #e43c5c;
    text-decoration: none;
  }
  
  a:hover {
    color: #ea6981;
    text-decoration: none;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "Nunito", sans-serif;
  }

  #hero {
    width: 100%;
    height: 100vh;
    background: url("https://i.postimg.cc/wMkyYGQ6/photo-2023-04-02-21-04-07.jpg") top center;
    background-size: cover;
   border-radius:0 0 0 400px;
    position: relative;
  }
  
  #hero:before {
    content: "";
    /* background: rgba(0, 0, 0, 0.2); */
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
  }
  
  #hero .hero-container {
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0 15px;
  }
  
  #hero h3 {
    background: rgba(255, 255, 255, 0.1);
    color: #fff;
    font-size: 26px;
    padding: 10px 30px;
    margin-bottom: 30px;
    border-radius: 50px;
  }
  
  #hero h1 {
    margin: 0 0 10px 0;
    font-size: 70px;
    font-weight: 1000;
    line-height: 56px;
    text-transform: uppercase;
    color: #fff;
  }
  
  #hero h2 {
    color: #eee;
    margin-bottom: 40px;
    font-size: 24px;
  }
  
  #hero .btn-get-started {
    font-family: "Poppins", sans-serif;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 13px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 8px 30px 9px 30px;
    border-radius: 50px;
    transition: 0.5s;
    border: 2px solid #fff;
    color: #fff;
  }
  
  #hero .btn-get-started:hover {
    background: rgb(189, 138, 67);
    border: 2px solid rgb(189, 138, 67);
  }
  
  @media (min-width: 1024px) {
    #hero {
      background-attachment: fixed;
    }
  }
  
  @media (max-width: 768px) {
    #hero h3 {
      font-size: 22px;
    }
  
    #hero h1 {
      font-size: 30px;
      line-height: 36px;
    }
  
    #hero h2 {
      font-size: 18px;
      line-height: 24px;
      margin-bottom: 30px;
    }
  }
  
  @media (max-height: 500px) {
    #hero {
      height: 150vh;
    }
  }
  
  /*----