{% load static %}

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'css/new.css' %}">
    
    
    <!--<link href="{% static 'css/new.css'%}" rel="stylesheet" type="text/css">-->
    <link href="{% static 'css/newone.css'%}" rel="stylesheet" type="text/css">

    <link rel="stylesheet" href="{% static 'css/prefix.css'%}">
    <script src="script.js"></script>
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <title>Campus Ministry</title>
    <!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
    
  <!--
    - favicon
  -->
  <link rel="shortcut icon" href="/static/images/logo/favicon.ico" type="image/x-icon">

  <!--
    - custom css link
  -->


  <!--
    - google font link
  -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap"
    rel="stylesheet">


    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
  <!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
  </head>
  <body>
<!--
<script src="//code.tidio.co/z46yutguynyvhsigmqopusi6j8nnpg2c.js" async></script>
-->
<div class="container" >
  <!--nav-bar-slider-->
  <nav class="navbar bg-light fixed-top">
    <div class="container-fluid">
      {% if user %}
  
      <h5 style=" color: #000; font-size:15px;" ><b>{{ user }} <b> </h5>
        <h5 style=" color: #000; font-size:15px;" ><b>call <b> </h5>
{% endif %}
      

  </nav>
<!--end of navbar-->

<br>
<br>
  <br>

<!--download outline-->
<div class="ade"  >
  <div class="ade"style="display: flex; justify-content: space-between;  background-color: #fff; padding:30px; border-radius:20px; margin-bottom:20px; box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;">
<button class="btn" style="color: #fff; background: #ee8080; border: none; margin-left: 2vw; border-radius:20px;" type="submit">+ Download Outline</button>
<a href="" style="text-decoration: none;  text-align:center; color: #fff;">
<h1>...</h1>
</a>
</div>
</div>
<!--end of outline-->


<!--download outline-->
<div class="ade"  >
    <div class="ade"style="display: flex; justify-content: space-between;  background-color: #fff; padding:30px; border-radius:20px; margin-bottom:20px; box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;">
  <button class="btn" style="color: #fff; background: #ee8080; border: none; margin-left: 2vw; border-radius:20px;" type="submit">+ Download Outline</button>
  <a href="" style="text-decoration: none;  text-align:center; color: #fff;">
  <h1>...</h1>
  </a>
  </div>
  </div>
  <!--end of outline-->

  
<!--download outline-->
<div class="ade"  >
    <div class="ade"style="display: flex; justify-content: space-between;  background-color: #fff; padding:30px; border-radius:20px; margin-bottom:20px; box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;">
  <button class="btn" style="color: #fff; background: #ee8080; border: none; margin-left: 2vw; border-radius:20px;" type="submit">+ Download Outline</button>
  <a href="" style="text-decoration: none;  text-align:center; color: #fff;">
  <h1>...</h1>
  </a>
  </div>
  </div>
  <!--end of outline-->
  
<!--download outline-->
<div class="ade"  >
    <div class="ade"style="display: flex; justify-content: space-between;  background-color: #fff; padding:30px; border-radius:20px; margin-bottom:20px; box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;">
  <button class="btn" style="color: #fff; background: #ee8080; border: none; margin-left: 2vw; border-radius:20px;" type="submit">+ Download Outline</button>
  <a href="" style="text-decoration: none;  text-align:center; color: #fff;">
  <h1>...</h1>
  </a>
  </div>
  </div>
  <!--end of outline-->
  









<div class="mobile-bottom-navigation">

    <button class="action-btn">
        <ion-icon name="home-outline"></ion-icon>
      </button>

   

  <a href="ministry.html"><button class="action-btn">
    <ion-icon name="home-outline"></ion-icon>

    <span class="count">12</span>
  </button></a>

  <button class="action-btn">
    <ion-icon name="podcast"></ion-icon>
    <span class="count">60</span>
  </button>


  <button class="action-btn" data-mobile-menu-open-btn>
    <ion-icon name="-outline"></ion-icon>
  </button>

  <button class="action-btn" data-mobile-menu-open-btn>
    <ion-icon name="grid-outline"></ion-icon>
  </button>

</div>




<!--end of box--> 
<!--ending-->
<h6 class="text-muted" style="padding-bottom:2vh; text-align:center;">Rearrange your favorite taps</h6>
<!---->
</div>

  
</div>
</div>




<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>




    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
  

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js" integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous"></script>

</body>
</html>
