{% comment %} {% load static %}
<!doctype html>
<html lang="en">
  <head>
    <title>Campus Ministry</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  
    <link rel="stylesheet" href="{% static 'css/front.css' %}">  
</head>
  <body>
    <div class="container">
      <div>
        <img src="https://images.squarespace-cdn.com/content/v1/512d3209e4b0deb1a742473f/1676144765200-AKLZB3TQ0VJ52V3QXKW4/IMG_0604.JPG?format=2500" style="width:100%; margin-top:10px; border-radius:20px; height:300px; object-fit:cover; margin-bottom:50px;">
      </div>

      <div style="text-align:center;">
        <h4>Welcome To <br>CU Campus Ministries</h4>
        <h6 class="text-muted">Welcome To CU Campus Ministries,christ is king</h6>
      </div>

      <div class="fill  justify-content-center" style="display:flex; text-align:center;  padding:20px; ">
       <a href="{% url 'signin'%}"> <h6 style="background-color:#FF5733;  padding:15px; text-align:center; border-radius:20px 0 0 20px; color:#fff; width:140px;">Signin</h6></a>
        <a href="{% url 'registration'%}"><h6 style="background-color:#B2BEB5; color:#fff; padding:15px; width:140px; border-radius:0 20px 20px 0;" >Register</h6></a>

      </div>
    </div>  



    
<!-- 
        <div class="now" style="text-align:center;">
            <a href="{templates 'signin.html'}"><h1 style="background-color:brown; color:#fff; border-radius:30px; font-size:15px; width:190px; margin:auto; padding:10px;margin-top:40px;">Sign In</h1></a>
            <h1 style="background-color:brown; color:#fff; border-radius:30px; font-size:15px; width:190px; margin:auto; padding:10px; margin-top:15px;">Register</h1>
           
            
        </div> -->
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html> {% endcomment %}