<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/css/new.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/new .css')}}">
    <link href="newone.css" rel="stylesheet" type="text/css">
    <link href="newon.css" rel="stylesheet" type="text/css">

    <link rel="stylesheet" href="prefix.css">
    <script src="script.js"></script>
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <title>Campus Ministry</title>
    <!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
    
  <!--
    - favicon
  -->
  <link rel="shortcut icon" href="/static/images/logo/favicon.ico" type="image/x-icon">

  <!--
    - custom css link
  -->


  <!--
    - google font link
  -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap"
    rel="stylesheet">


    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
  <!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
  </head>
  <body>
<!--
<script src="//code.tidio.co/z46yutguynyvhsigmqopusi6j8nnpg2c.js" async></script>
-->
<div class="container" >
  
  <!--nav-bar-slider-->
  <nav class="navbar bg-light fixed-top">
    <div class="container-fluid">
     <a href="gallery.html" style="text-decoration:none;"> <h5 style=" color: #000;" ><b><<b> </h5></a>
  
      
      <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel" >
        <div class="offcanvas-header">
          <h3 class="offcanvas-title" id="offcanvasNavbarLabel" style="background-color:gray; padding:7px; width:90px; border-radius:30px; text-align:center; ">App </h3>
          <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>

        <div class="offcanvas-body">
          <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#"><h1><b>More</b></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="#"><h4> Community</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#"><h4>Verse of the day</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#"><h4>Prayer Wall</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Course</a></li>
                <li><a class="dropdown-item" href="#">Another action</a></li>
                <li>
                  <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" href="#">Something else here</a></li>
              </ul>
              <li class="nav-item">
                <a class="nav-link" href="#"><h4>Videos</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#"><h4>Events</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#"><h4>Highlight</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#"><h4>Notes</a>
              </li>
             
              <li class="nav-item">
                <a class="nav-link" href="#"><h4>Tithes and Offetory</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#"><h4>Setting</a>
              </li>
            </li>
          </ul>
         
        </div>
      </div>
    </div>
  </nav>
<!--end of navbar-->


<!--hero section-->
  <div class="row" style=" border-radius:0 0 0 150px; padding: 20px; background: #992621;">
    <h6 class="text-muted"  >Project Outline</h6>
    <div class="ade" style="display: flex; justify-content: space-between; margin-top:10px;">
      <a href="" style="text-decoration: none; color: #fff; margin-top:40px; margin-right:px;">
       <h5><b>Gallery:</h5>
       <h6>Picture & Videos</h6>
      
     </a>
         <img src="{% static 'image/cta-banner.jpg' %}" alt=""style="width:160px;margin-top:20px;object-fit:cover; border-radius:10px; height:150px;"  >
    </div>
  </div>
  <!--end of hero-->
  <br>
  









<div class="mobile-bottom-navigation">

    <button class="action-btn">
        <ion-icon name="home-outline"></ion-icon>
      </button>

 

  <a href="ministry.html"><button class="action-btn">
    <ion-icon name="home-outline"></ion-icon>

    <span class="count">12</span>
  </button></a>

 

  <button class="action-btn">
    <ion-icon name="home-outline"></ion-icon>
    <span class="count">60</span>
  </button>


<!--  <button class="action-btn" data-mobile-menu-open-btn>
    <ion-icon name="-outline"></ion-icon>
  </button>-->

  <button class="action-btn" data-mobile-menu-open-btn>
    <ion-icon name="grid-outline"></ion-icon>
  </button>

</div>

<div class="contain" style=" padding: 2px;   overflow:auto;">
   
  
    
    <div class="container" style="border-radius:10px 0 0 150px; padding: 5px; ">
  
     
    <div class="ade" style="  padding:10px;  margin-bottom:20px; ">
        <div class="ade"style="display: flex;  ">
          <img src="{% static 'image/cta-banner.jpg' %}" style="width:40px; height:40px; margin-bottom:5px;">
          <h6 style="color:#000; text-align:left; margin-left:6px; "><b><img src="cta-banner.jpg" style="width:10px;"></b> <br># <span class="text-muted" style="font-size:13px;">2 min.</span> </h6>
        </div>
      
    <div class="ade"style=" background-color: #b2becc; background-color: #fff; border-radius:10px;"> 
      <a href="" style="text-decoration: none;  text-align:center; color: #fff;">
        <img src="{% static 'image/cta-banner.jpg' %}"  alt=""style="width:100%; height:100%; object-fit:cover;   height:350px;;"  > 
      </a>
      
    
      <div class="ade"style="display: flex; justify-content: space-between;margin-top:10px;  "> 
          <a href="" style="text-decoration: none;  text-align:center; color: #000;">
         <ion-icon style="font-size:30px;" name="heart-outline">
        </a>
        <!--    <img src="static/img/no.png"  alt=""style="width:25px; height:25px;"  > -->
        <img src="{% static 'image/cta-banner.jpg' %}"  alt=""style="width:25px; height:25px;"  > 
       
      </div>
      <h6 class="text-muted">View all comment</h6>
        <h6 style="color:#000; text-align:left; margin-left:10px; margin-top:10px; margin-bottom:20px; "><b>i like this app</h6>
    </div>
    
     
    </div>
    </div>
    
   



    <div class="ade" style="  padding:10px;  margin-bottom:20px; ">
        <div class="ade"style="display: flex;  ">
          <img src="{% static 'image/cta-banner.jpg' %}" style="width:40px; height:40px; margin-bottom:5px;">
          <h6 style="color:#000; text-align:left; margin-left:6px; "><b><img src="cta-banner.jpg" style="width:10px;"></b> <br># <span class="text-muted" style="font-size:13px;">2 min.</span> </h6>
        </div>
      
    <div class="ade"style=" background-color: #b2becc; background-color: #fff; border-radius:10px;"> 
      <a href="" style="text-decoration: none;  text-align:center; color: #fff;">
        <img src="{% static 'image/cta-banner.jpg' %}"  alt=""style="width:100%; height:100%; object-fit:cover;   height:350px;;"  > 
      </a>
      
    
      <div class="ade"style="display: flex; justify-content: space-between;margin-top:10px;  "> 
          <a href="" style="text-decoration: none;  text-align:center; color: #000;">
         <ion-icon style="font-size:30px;" name="heart-outline">
        </a>
        <!--    <img src="static/img/no.png"  alt=""style="width:25px; height:25px;"  > -->
        <img src="{% static 'image/cta-banner.jpg' %}"  alt=""style="width:25px; height:25px;"  > 
       
      </div>
      <h6 class="text-muted">View all comment</h6>
        <h6 style="color:#000; text-align:left; margin-left:10px; margin-top:10px; margin-bottom:20px; "><b>i like this app</h6>
    </div>
    
     
    </div>
    </div>
    
   


    <div class="ade" style="  padding:10px;  margin-bottom:20px; ">
        <div class="ade"style="display: flex;  ">
          <img src="{% static 'image/cta-banner.jpg' %}" style="width:40px; height:40px; margin-bottom:5px;">
          <h6 style="color:#000; text-align:left; margin-left:6px; "><b><img src="cta-banner.jpg" style="width:10px;"></b> <br># <span class="text-muted" style="font-size:13px;">2 min.</span> </h6>
        </div>
      
    <div class="ade"style=" background-color: #b2becc; background-color: #fff; border-radius:10px;"> 
      <a href="" style="text-decoration: none;  text-align:center; color: #fff;">
        <img src="cta-banner.jpg"  alt=""style="width:100%; height:100%; object-fit:cover;   height:350px;;"  > 
      </a>
      
    
      <div class="ade"style="display: flex; justify-content: space-between;margin-top:10px;  "> 
          <a href="" style="text-decoration: none;  text-align:center; color: #000;">
         <ion-icon style="font-size:30px;" name="heart-outline">
        </a>
        <!--    <img src="static/img/no.png"  alt=""style="width:25px; height:25px;"  > -->
        <img src="{% static 'image/cta-banner.jpg' %}"  alt=""style="width:25px; height:25px;"  > 
       
      </div>
      <h6 class="text-muted">View all comment</h6>
        <h6 style="color:#000; text-align:left; margin-left:10px; margin-top:10px; margin-bottom:20px; "><b>i like this app</h6>
    </div>
    
     
    </div>
    </div>
    
   
    </div>
    
    </div>
    

<!--box-->
<br>
<!--end of box-->
 
<!--ending-->
<h6 class="text-muted" style="padding-bottom:2vh; text-align:center;">Rearrange your favorite taps</h6>
<!---->
</div>

  
</div>
</div>




<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>




    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
  

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js" integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous"></script>

</body>
</html>
