{% load static %}

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'css/new.css' %}">
    
    
    <!--<link href="{% static 'css/new.css'%}" rel="stylesheet" type="text/css">-->
    <link href="{% static 'css/newone.css'%}" rel="stylesheet" type="text/css">

    <link rel="stylesheet" href="{% static 'css/prefix.css'%}">
    <script src="script.js"></script>
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <title>Campus Ministry</title>
    <!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
    
  <!--
    - favicon
  -->
  <link rel="shortcut icon" href="/static/images/logo/favicon.ico" type="image/x-icon">

  <!--
    - custom css link
  -->


  <!--
    - google font link
  -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap"
    rel="stylesheet">


    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
  <!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
  </head>
  <body>

    <script src="//code.tidio.co/owee7tweyesva9qh7qc5bywz17mo57l5.js" async></script>

<!--
<script src="//code.tidio.co/z46yutguynyvhsigmqopusi6j8nnpg2c.js" async></script>
-->
<div class="container" >
  <!--nav-bar-slider-->
  <nav class="navbar bg-light fixed-top">
    <div class="container-fluid">
      {% if user %}
  
  <h6 style=" color: #000;" ><b>You are Welcome, {{ user }} <b> </h6>
{% endif %}
      
  
      
      <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel" >
        <div class="offcanvas-header">
          <h3 class="offcanvas-title" id="offcanvasNavbarLabel" style="background-color:gray; padding:7px; width:90px; border-radius:30px; text-align:center; ">App </h3>
          <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>

        <div class="offcanvas-body">
          <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
            <li class="nav-item">
              <a class="nav-link" href="{% url 'signOut' %}"><h4>Signout</a>
            </li>
          </li>
          </ul>
         
        </div>
      </div>
    </div>
  </nav>
<!--end of navbar-->


<!--hero section-->
  <div class="row" style=" border-radius:0 0 0 150px; padding: 20px; background: #992621;">
    <h6 class="text-muted"  >Project Outline</h6>
    <div class="ade" style="display: flex; justify-content: space-between; margin-top:10px;">
      <a href="" style="text-decoration: none; color: #fff; margin-top:40px; margin-right:px;">
       <h5><b>Theme for The Semester:<b></h5>
       <h6>Love the Greatest.</h6>
      

     </a>
         <img src="{% static 'image/CU logo.jpg' %}" alt=""style="width:160px;margin-top:20px;object-fit:cover; border-radius:6px; height:100px;"  >
    </div>
  </div>
  <!--end of hero-->
  <br>

<!--download outline-->

<div class="ade"  >
  <div class="ade" style="background-color: #fff; padding:10px; margin-bottom:20px; box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px; "> 
<div class="ade"style="display: flex; justify-content: space-between;  background-color: #fff; padding:30px; border-radius:20px; margin-bottom:20px; box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;">
  <h4 class="btn" style="color: #fff; background: #ee8080; border: none; margin-left: 2vw; border-radius:20px;" type="submit">Upcoming/Ongoing event</h4>
  <a href="" style="text-decoration: none;  text-align:center; color: #fff;">
  <h1>...</h1>
  </a>
  </div>  
<img src="{% static 'image/WhatsApp Image 2023-03-29 at 13.00.38.jpg'%}" alt="" width="90%">
<img src="{% static 'image/Prayer Chain.jpg'%}" alt="" width="90%" style="margin-top: 30px;">
</div>
</div>
</div>
<!--end of outline-->



<!--verse of the day-->
<div class="ade" style=" background-color: #fff; background-color: #fff; padding:30px; border-radius:20px; 
background-color: #fff; padding:30px; border-radius:20px; margin-bottom:20px; box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px; ">
    <div class="ade"style="display: flex; justify-content: space-between;  ">
      <h5>VERSE OF THE DAY</h5>
<a href="" style="text-decoration: none;  text-align:center; color: #fff;">
  <h1>...</h1>
</a>
</div>
<div class="ade"style="display: flex; justify-content: space-between;  "> 
  <script type="text/javascript">
    document.write("<iframe src=\"https://www.kingjamesbibleonline.org/inspiring-images-widget.php\" style=\"width: 400   px; height: 390px; border: 0px solid #ffffff;\"></iframe>");
    </script>
    

</div><br>

<div class="row" style="text-align: center; margin: auto; display:flex; overflow: auto;">
  <!-- <div class="col">
    <div class="user-box" style="text-decoration: none; background-color:#992621;  border-radius:10px;">
      <a href="#" style="text-decoration: none; background-color:#992621; box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px; border-radius:10px;">
        <h4 class="user-box-items" style=" font-weight: bold; color:#fff; padding:20px;">Prayer</h4>
        
      </a>
    </div>
  </div> -->
  
  <!-- <div class="col">
    <div class="user-box" style="text-decoration: none; background-color:#992621; border-radius:10px;   ">
      <a href="#" style="text-decoration: none;  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px; ">
        <h4 class="user-box-items" style=" font-weight: bold; color:#fff;  padding:20px;">Worship</h4>
      </a>
       
    </div>
  </div> -->

  <div class="ade"style="display: flex; justify-content: space-between;  ">
       
    <h6>#SEND ME THIS DAILY</h6>


</div>
  
</div>
</div>
<!--end of verse-->




<!--ministries row-->

<div class="ade" style="  padding:30px; border-radius:20px;  background-color: #fff; box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
margin-bottom:20px; ">

    <div class="ade"style="display: flex; justify-content: space-between;  ">
       
      <h5>MINISTRIES</h5>

<a href="" style="text-decoration: none;  text-align:center; color: #fff;">
  <h1>...</h1>
</a>
</div>

<div class="ade"style="display: flex; justify-content: space-between;  background-color: #b2becc; background-color: #b2becc; padding:30px; border-radius:10px;">
       
  <a href="" style="text-decoration: none;  text-align:center; color: #fff;">
    <img src="{% static 'image/photo_2023-04-02_21-04-00.jpg' %}" alt=""style="width:100%; height:100%;  object-fit:cover;border-radius:10px;"  >  
  </a>

  <h6 style="margin-left:20px;">CAMPUS MINISTRIES<br> <br><br> <br>
    <a href="{% url 'ministry'%}" style="text-decoration: none;  text-align:center; color: #fff; background-color:#ee8080; padding:13px; border-radius:30px;">
  <b>Explore</b>
  </a>
  </h6>
</div>

 
  
</div>

<!--end of ministries-->




<!--photo album-->
<div class="ade" style=" background-color: #fff; background-color: #fff; padding:30px; border-radius:20px; box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
background-color: #fff; padding:30px; border-radius:20px; margin-bottom:30px;  ">
<h6 style="margin-bottom:30px; "><b> CAMPUS MINISTRY GALLERY
</b></h6>
<a href="#">    <div class="ade"style="display: flex; justify-content: space-between; margin-bottom:30px;  ">
      <img src="{% static 'image/photo_2023-04-02_21-04-07.jpg' %}" alt=""style="width:100%; height:100%; border-radius:0 30px 0 30px"  > 
</a>
     
</div>
<div class="ade"style="display: flex; justify-content: space-between;  ">
 
<a href="#" style="text-decoration: none;  text-align:center; color: #fff;"></a>
</div>
<div class="row" style="text-align: center; margin: auto; display:flex; overflow: auto;">

  <div class="col-6">
    <div class="user-box" style="text-decoration: none; background-color:#992621; border-radius:10px; ">
       <a href="{% url 'picture' %}" style="text-decoration:none;"> <h4 class="user-box-items" style="text-decoration:none; font-weight: bold; color:#fff; ">Photos</h4></a>
      </a>
        
    </div>
  </div>
  
  <div class="col-6">
    <div class="user-box" style="text-decoration: none; background-color:#992621; border-radius:10px; ">
      <a href="#" style="text-decoration: none;">
        <h4 class="user-box-items" style=" font-weight: bold; color:#fff; text-align:center;">Videos</h4>
      </a>
        
    </div>
  </div>
</div>
</div>
<!--end of photo album-->





<!--Peer Counsellors-->

<div class="ade" style="  padding:30px; border-radius:20px;  background-color: #fff; box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
margin-bottom:20px; ">
    <div class="ade"style="display: flex; justify-content: space-between;  ">
      <h5>Counsellors</h5>
<a href="" style="text-decoration: none;  text-align:center; color: #fff;">
  <h1>...</h1>
</a>
</div>
<div class="ade"style="display: flex; justify-content: space-between;  background-color: #b2becc; background-color: #b2becc; padding:30px; border-radius:10px;"> 
  <a href="" style="text-decoration: none;  text-align:center; color: #fff;">
    <img src="{% static 'image/photo_2023-04-03_15-56-14.jpg' %} "  alt=""style="width:120px; object-fit:cover; border-radius:10px; height:180px;"  >  
  </a>
  <h6 style="margin-left:20px;">PEER COUNSELLORS CORNER<br> <br>We Care about you.<br> <br>
    <a href="{% url 'counsellor'%}" style="text-decoration: none;  text-align:center; color: #fff; background-color:#ee8080; padding:13px; border-radius:30px;">
  <b>Talk to us.</b>
  </a>
  </h6>
</div>
<div class="ade"style="display: flex; justify-content: space-between;margin-top:30px;  "> 
  
<a href="" style="text-decoration: none;  text-align:center; color: #000;">
</a>
</div>
</div>

<!--end of peer Counsellors-->




<div class="mobile-bottom-navigation">

    <button class="action-btn">
        <ion-icon name="home-outline"></ion-icon>
      </button>

   

  <a href="ministry.html"><button class="action-btn">
    <ion-icon name="home-outline"></ion-icon>

    <span class="count">12</span>
  </button></a>

  <button class="action-btn">
    <ion-icon name="mail-outline"></ion-icon>
    <span class="count">60</span>
  </button>


  <button class="action-btn" data-mobile-menu-open-btn>
    <ion-icon name="grid-outline"></ion-icon>
  </button>

</div>




<!--box-->
<div class="row" style="text-align: center; margin: auto; ">
    <div class="col-md-3 col-6" >
      <div class="user-box" style="background-color:#fff;">
        <a href="{% url 'testimonyTime' %}" style="text-decoration: none; ">
          <h4 class="user-box-items" style="margin-bottom: 2vh; font-weight: bold;">Testimony Box</h4>
        </a>
          <h6 class="#" style="background-color:#ee8080; width:40px; margin:auto; padding:10px; border-radius:50px; color:#fff;">TB</h6> 
      </div>
    </div>
    
    <div class="col-md-3 col-6">
      <div class="user-box" style="background-color:#fff;">
        <a href="{% url 'prayerRequest'%}" style="text-decoration: none;">
          <h4 class="user-box-items" style="margin-bottom: 2vh; font-weight: bold;">Prayer <br>  Wall</h4>
        </a>
          <h6 class="#" style="background-color:#ee8080; width:40px; margin:auto; padding:10px; border-radius:50px;  color:#fff;">PW</h6>
      </div>
    </div>
    
    <div class="col-md-3 col-6">
      <div class="user-box" style="background-color:#fff;">
        <a href="{% url 'station' %}" style="text-decoration: none;">
          <h4 class="user-box-items" style="margin-bottom: 2vh; font-weight: bold;">Filling Station</h4>
        </a>
          <h6 class="#" style="background-color:#ee8080; width:40px; margin:auto; padding:10px; border-radius:50px; color:#fff;">FS</h6> 
      </div>
    </div>
    
    <div class="col-md-3 col-6">
      <div class="user-box" style="background-color:#fff;">
        <a href="{% url 'give' %}" style="text-decoration: none;">
          <h4 class="user-box-items" style="margin-bottom: 2vh; font-weight: bold;">Tithe & Ofertory</h4>
        </a>
          <h6 class="#" style="background-color:#ee8080; width:40px; margin:auto; padding:10px; border-radius:50px;  color:#fff;">TO</h6> 
      </div>
    </div>
    
  </div>
<!--end of box--> 
<!--ending-->
<h6 class="text-muted" style="padding-bottom:2vh; text-align:center;">Rearrange your favorite taps</h6>
<!---->
</div>

  
</div>
</div>




<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>




    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
  

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js" integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous"></script>

</body>
</html>
