{% load static %}
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static 'css/home.css'%}">
    </head>
    <body>
      <div class="header">
        <div class="container">
          <div class="navbar">
            <!-- <div class="logo">
              <a href="index.html"><img src="pl.jpeg" alt="RedStore" width="125px" /></a>
            </div> -->
            <!-- <nav>
              <ul id="MenuItems">
                <li><a href="index.html">Explore</a></li>
                
              </ul>
            </nav>
            <!-- <a href="cart.html"><img src="https://i.ibb.co/PNjjx3y/cart.png" alt="" width="30px" height="30px" /></a> 
            <img src="https://i.ibb.co/6XbqwjD/menu.png" alt="" class="menu-icon" onclick="menutoggle()" />
            -->
          </div>
          
          <div class="row">
            <div class="col-2">
              <a href="index.html"><img src="{% static 'image/pl.jpeg'%}" alt="RedStore" width="125px" /></a>
              <h1>
               Welcome to<br />
                Campus Ministry
              </h1>
              <p> 
                Success isn't always about greatness. It's about consistency.
                Consistent <br />hard work gains success. Greatness will come.
              </p>
              <a href="#" target="_blank" rel="noopener noreferrer" class="btn" style="padding:15px;">Join the waitlist &#8594;</a>
            </div>
            <div class="col-2">
              <img src="{% static 'image/qq.jpeg' %}" alt="" />
            </div>
          </div>
        </div>
      </div>
      
      <!-- Featured categories -->
      <div class="categories">
        <div class="small-container">
          <div class="row">
            <div class="col-3">
              <img src="https://i.ibb.co/sqnY1pG/category-1.jpg" alt="" />
            </div>
            <div class="col-3">
              <img src="https://i.ibb.co/GCJLQRQ/category-2.jpg" alt="" />
            </div>
            <div class="col-3">
              <img src="https://i.ibb.co/wYsXqP5/category-3.jpg" alt="" />
            </div>
          </div>
        </div>
      </div>
      
     
      <!-- offer -->
      <div class="offer">
        <div class="small-container">
          <div class="row">
            <div class="col-2">
              <img src="{% static 'image/qq.jpeg'%}" alt="" class="offer-img" />
            </div>
            <div class="col-2">
              <p>Available on the App </p>
              <h1>Join Any Ministry</h1>
              <small>The Mi Smart Band 4 features a 39.9% larger (than Mi Band 3)
                AMOLED color full-touch display with adjustable brightness, so
                everything is clear as can be.</small>
              <br />
              <a href="#" class="btn" style="padding:15px;">Join the waitlist&#8594;</a>
            </div>
          </div>
        </div>
      </div>
      
      <!-- Testimonial -->
      <div class="testimonial">
        <div class="small-container">
          <div class="row">
            <div class="col-3">
              <i class="fas fa-quote-left"></i>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Perferendis, quae molestias error id est voluptatibus quos amet
                numquam aspernatur nam cumque ullam? Veritatis eveniet et, maxime
                eaque soluta quas modi.
              </p>
              <div class="rating">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="far fa-star"></i>
                <i class="far fa-star"></i>
                <i class="far fa-star"></i>
              </div>
              <img src="" alt="" />
              <h3>Spiritual Leader</h3>
            </div>
      
            <div class="col-3">
              <i class="fas fa-quote-left"></i>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Perferendis, quae molestias error id est voluptatibus quos amet
                numquam aspernatur nam cumque ullam? Veritatis eveniet et, maxime
                eaque soluta quas modi.
              </p>
              <div class="rating">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="far fa-star"></i>
                <i class="far fa-star"></i>
                <i class="far fa-star"></i>
              </div>
              <img src="" alt="" />
              <h3>Spiritual Leader</h3>
            </div>
      
            <div class="col-3">
              <i class="fas fa-quote-left"></i>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Perferendis, quae molestias error id est voluptatibus quos amet
                numquam aspernatur nam cumque ullam? Veritatis eveniet et, maxime
                eaque soluta quas modi.
              </p>
              <div class="rating">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="far fa-star"></i>
                <i class="far fa-star"></i>
                <i class="far fa-star"></i>
              </div>
              <img src="" alt="" />
              <h3>Spiritual Leader</h3>
            </div>
          </div>
        </div>
      </div>
      <!-- brands -->
      <div class="brands">
        <div class="small-container">
          <div class="row">
            <div class="col-5">
              <img src="https://i.ibb.co/Gfwzz1S/logo-godrej.png" alt="" />
            </div>
      
            <div class="col-5">
              <img src="https://i.ibb.co/vjrRZFM/logo-oppo.png" alt="" />
            </div>
      
            <div class="col-5">
              <img src="https://i.ibb.co/3zs234S/logo-coca-cola.png" alt="" />
            </div>
      
            <div class="col-5">
              <img src="https://i.ibb.co/7Wt343W/logo-paypal.png" alt="" />
            </div>
      
            <div class="col-5">
              <img src="https://i.ibb.co/GVSNwJD/logo-philips.png" alt="" />
            </div>
          </div>
        </div>
      </div>
      <!-- Footer -->
      <div class="footer">
        <div class="container">
          <div class="row">
            <div class="footer-col-1">
              <h3>Download Our App</h3>
              <p>Download App for Android and iso mobile phone.</p>
              <div class="app-logo">
                <img src="https://i.ibb.co/KbPTYYQ/play-store.png" alt="" />
                <img src="https://i.ibb.co/hVM4X2p/app-store.png" alt="" />
              </div>
            </div>
      
            <div class="footer-col-2">
              <img src="{% static 'image/pl.jpeg' %}" alt="" />
              <p>
                Our Purpose Is To Sustainably Make the Pleasure and Benefits of
                Sports Accessible to the Many.
              </p>
            </div>
      
            <div class="footer-col-3">
              <h3>Useful Links</h3>
              <ul>
                <li>Coupons</li>
                <li>Blog Post</li>
                <li>Return Policy</li>
                <li>Join Affiliate</li>
              </ul>
            </div>
      
            <div class="footer-col-4">
              <h3>Follow us</h3>
              <ul>
                <li>Facebook</li>
                <li>Twitter</li>
                <li>Instagram</li>
                <li>YouTube</li>
              </ul>
            </div>
          </div>
          <hr />
          <p class="copyright">Copyright &copy; 2021 - Red Store</p>
        </div>
      </div>
      
      <!-- js for toggle menu -->
      <script>
        var MenuItems = document.getElementById('MenuItems');
        MenuItems.style.maxHeight = '0px';
      
        function menutoggle() {
          if (MenuItems.style.maxHeight == '0px') {
            MenuItems.style.maxHeight = '200px';
          } else {
            MenuItems.style.maxHeight = '0px';
          }
        }
      </script>
    </body>
</html>