{% load static %}


<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Campus Ministries</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="assets/img/favicon.png" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- AOS CSS-->
  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static 'css/style.css'%}" rel="stylesheet">

  <!-- Javascript AOS -->
  <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>

  <!-- =======================================================
  * Template Name: Tempo - v4.8.0
  * Template URL: https://bootstrapmade.com/tempo-free-onepage-bootstrap-theme/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->

<script>
  AOS.init();
</script>
  <!-- ======= Hero Section ======= -->

  
  <section id="hero"data-aos="fade-up"
  data-aos-duration="2000">
    <div class="hero-container" data-aos="fade-up"
    data-aos-duration="4000">
    <div class="logo">
      <img src="{% static 'image/CU_logo-removebg-preview.png'%}" alt="" width="30%" style="margin-left: 20px;">
   
       <a href="{% url 'signin'%}"><h3 data-aos="fade-up"
      data-aos-duration="5000">Get Started</h3> </a>
      
    </div>
      
<!--       
      <a href="client.html" class="btn-get-started scrollto">Join us today</a> -->
    </div>
  </section><!-- End Hero -->

  <main id="main">

    


  </main><!-- End #main -->

  <!-- ======= Footer ======= -->


    <!-- <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6  footer-contact">
            <h4 style="margin: 0;">Alpha House</h4>
            <H5>Marketting</H5>
            <p>
              No14 SPINTEX ROAD 18
              JUNCTION<br>
              Greater Accra,<br>
              Ghana <br><br>
              <strong>Phone:</strong> + 233 55 550 6129/ +233 27 714 5213<br>
              <strong>Email:</strong> alphahousemarketing@gmail.com<br>
            </p>
          </div>

          <div class="col-lg-2 col-md-6  footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Home</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="events.html">Events</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="client.html">Clients</a></li>
               <li><i class="bx bx-chevron-right"></i> <a href="#">Terms of service</a></li> -->
              <!-- <li><i class="bx bx-chevron-right"></i> <a href="#">Privacy policy</a></li> 
            </ul>
          </div>

          <div class="col-lg-3 col-md-6  footer-links">
            <h4>Our Services</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="service">Marketing</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="service">Event Organising</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="service">Logistics</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="service">Advertisment</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Graphic Design</a></li> 
            </ul>
          </div>

          <div class="col-lg-4 col-md-6  footer-newsletter">
            <h4>Join Our Newsletter</h4>
            <p>Keep in touch with us and our events add your mail for monthly updates </p>
            <form action="" method="post">
              <input type="email" name="email"><input type="submit" value="Subscribe">
            </form>
          </div>

        </div>
      </div>
    </div> -->

    <!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="assets/js/main.js"></script>

</body>

</html>