{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'css/new.css'%}">
    <link href="newone.css" rel="stylesheet" type="text/css">
    <link href="newon.css" rel="stylesheet" type="text/css">

    <link rel="stylesheet" href="prefix.css">
    <script src="script.js"></script>
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <title>Campus Ministry</title>
    <!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
    
  <!--
    - favicon
  -->
  <link rel="shortcut icon" href="/static/images/logo/favicon.ico" type="image/x-icon">

  <!--
    - custom css link
  -->


  <!--
    - google font link
  -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap"
    rel="stylesheet">


    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
  <!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
  </head>
  <body>
<!--
<script src="//code.tidio.co/z46yutguynyvhsigmqopusi6j8nnpg2c.js" async></script>
-->
<div class="container" >
  
  <!--nav-bar-slider-->
  <nav class="navbar bg-light fixed-top">
    <div class="container-fluid">
      <a href="{% url 'home' %}" style="text-decoration:none;"> <h5 style=" color: #000;" ><b>Back<b> </h5></a>
    
  
      
      <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel" >
        <div class="offcanvas-header">
          <h3 class="offcanvas-title" id="offcanvasNavbarLabel" style="background-color:gray; padding:7px; width:90px; border-radius:30px; text-align:center; ">App </h3>
          <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>

        <div class="offcanvas-body">
          <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
            
              <li class="nav-item">
                <a class="nav-link" href="#"><h4>Setting</a>
              </li>
            </li>
          </ul>
         
        </div>
      </div>
    </div>
  </nav>
<!--end of navbar-->


<!--hero section-->
  <div class="row" style=" border-radius:0 0 0 150px; padding: 20px; background: #992621;">
    <h6 class="text-muted"  >Project Outline</h6>
    <div class="ade" style="display: flex; justify-content: space-between; margin-top:10px;">
      <a href="" style="text-decoration: none; color: #fff; margin-top:40px; margin-right:px;">
        <h5><b>CAMPUS<b></h5>
            <h5><b>MINISTRIES:<b></h5>
       <h6>Ministries in Campus ministry </h6>
      
     </a>
         <img src="{% static 'image/cta-banner.jpg' %}" alt=""style="width:160px;margin-top:20px;object-fit:cover; border-radius:10px; height:150px;"  >
    </div>
  </div>
  <!--end of hero-->
  <br>
  












<!--photo album-->

<!-- This the prayer ministry  -->
<div class="ade" style=" background-color: #fff; background-color: #fff; padding:30px; border-radius:20px; box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
background-color: #fff; padding:30px; border-radius:20px; margin-bottom:30px;  ">
<h6 style="margin-bottom:30px; "><b> Prayer Ministry
</b></h6>
    <div class="ade"style="display: flex; justify-content: space-between; margin-bottom:30px;  ">
      <img src="cta-banner.jpg" alt=""style="width:100%; height:100%; border-radius:0 30px 0 30px"  > 
</a>
     


</div>

<div class="ade"style="display: flex; justify-content: space-between;  ">
 
<a href="" style="text-decoration: none;  text-align:center; color: #fff;"></a>
</div>
<div class="row" style="text-align: center; margin: auto; display:flex; overflow: auto;">

  <div class="col-6">
    <div class="user-box" style="text-decoration: none; background-color:#992621; ">
      <a href="/userbase" style="text-decoration: none; ">
        <h4 class="user-box-items" style=" font-weight: bold; color:#fff; padding:20px;">Photos</h4>
      </a>
        
    </div>
  </div>
  
  <div class="col-6">
    <div class="user-box" style="text-decoration: none; background-color:#992621; ">
      <a href="/usernewform" style="text-decoration: none;">
        <h4 class="user-box-items" style=" font-weight: bold; color:#fff; padding:20px; ">Videos</h4>
      </a>
        
    </div>
  </div>
  <div class="ade"style="display: flex; justify-content: space-between;margin-top:30px;  ">
       
    <a href="{% url 'prayerMinistry'%}" style="text-decoration: none;  text-align:center; color: #000;">
      <h6>+ Join the Prayer now</h6>
    </a>
    </div>
</div>
</div>
<!--end of photo album-->



<!--photo album-->
<!-- This is the media ministry -->
<div class="ade" style=" background-color: #fff; background-color: #fff; padding:30px; border-radius:20px; box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
background-color: #fff; padding:30px; border-radius:20px; margin-bottom:30px;  ">
<h6 style="margin-bottom:30px; "><b> Media Ministry
</b></h6>
    <div class="ade"style="display: flex; justify-content: space-between; margin-bottom:30px;  ">
      <img src="{% static 'image/WhatsApp Image 2022-12-04 at 15.42.12.jpg'%}" alt=""style="width:100%; height:100%; border-radius:0 30px 0 30px"  > 
</a>
     


</div>

<div class="ade"style="display: flex; justify-content: space-between;  ">
 
<a href="" style="text-decoration: none;  text-align:center; color: #fff;"></a>
</div>
<div class="row" style="text-align: center; margin: auto; display:flex; overflow: auto;">

  <div class="col">
    <div class="user-box" style="text-decoration: none; background-color:#992621; ">
      <a href="/userbase" style="text-decoration: none; ">
        <h4 class="user-box-items" style=" font-weight: bold; color:#fff; padding:20px;">Photos</h4>
      </a>
        
    </div>
  </div>
  
  <div class="col">
    <div class="user-box" style="text-decoration: none; background-color:#992621; ">
      <a href="/usernewform" style="text-decoration: none;">
        <h4 class="user-box-items" style=" font-weight: bold; color:#fff; padding:20px;">Videos</h4>
      </a>
        
    </div>
  </div>
  <div class="ade"style="display: flex; justify-content: space-between;margin-top:30px;  ">
       
    <a href="{% url 'media'%}" style="text-decoration: none;  text-align:center; color: #000;">
      <h6>+ Join Media now</h6>
    </a>
    </div>
</div>
</div>
<!--end of photo album-->


<!--photo album-->
<!-- This is the praise and worship ministry -->
<div class="ade" style=" background-color: #fff; background-color: #fff; padding:30px; border-radius:20px; box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
background-color: #fff; padding:30px; border-radius:20px; margin-bottom:30px;  ">
<h6 style="margin-bottom:30px; "><b> Praise and Worship
</b></h6>
    <div class="ade"style="display: flex; justify-content: space-between; margin-bottom:30px;  ">
      <img src="{% static 'image/WhatsApp Image 2022-12-04 at 15.26.46.jpg'%}" alt=""style="width:100%; height:100%; border-radius:0 30px 0 30px"  > 
</a>
     


</div>

<div class="ade"style="display: flex; justify-content: space-between;  ">
 
<a href="" style="text-decoration: none;  text-align:center; color: #fff;"></a>
</div>
<div class="row" style="text-align: center; margin: auto; display:flex; overflow: auto;">

  <div class="col">
    <div class="user-box" style="text-decoration: none; background-color:#992621; ">
      <a href="#" style="text-decoration: none; ">
        <h4 class="user-box-items" style=" font-weight: bold; color:#fff; padding:20px;">Photos</h4>
      </a>
        
    </div>
  </div>
  
  <div class="col">
    <div class="user-box" style="text-decoration: none; background-color:#992621; ">
      <a href="#" style="text-decoration: none;">
        <h4 class="user-box-items" style=" font-weight: bold; color:#fff; padding:20px;">Videos</h4>
      </a>
        
    </div>
  </div>
  <div class="ade"style="display: flex; justify-content: space-between;margin-top:30px;  ">
       
    <a href="{% url 'praiseWorship'%}" style="text-decoration: none;  text-align:center; color: #000;">
      <h6>+ Join Praise & Worship now</h6>
    </a>
    </div>
</div>
</div>
<!--end of photo album-->


<!--photo album-->
<!-- This is MCC ministry -->
<div class="ade" style=" background-color: #fff; background-color: #fff; padding:30px; border-radius:20px; box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
background-color: #fff; padding:30px; border-radius:20px; margin-bottom:30px;  ">
<h6 style="margin-bottom:30px; "><b> Miotso Contemporary Choir(MCC)
</b></h6>
    <div class="ade"style="display: flex; justify-content: space-between; margin-bottom:30px;  ">
      <img src="{% static 'image/WhatsApp Image 2022-12-04 at 15.26.09.jpg'%}" alt=""style="width:100%; height:100%; border-radius:0 30px 0 30px"  > 
</a>
     


</div>

<div class="ade"style="display: flex; justify-content: space-between;  ">
 
<a href="" style="text-decoration: none;  text-align:center; color: #fff;"></a>
</div>
<div class="row" style="text-align: center; margin: auto; display:flex; overflow: auto;">

  <div class="col">
    <div class="user-box" style="text-decoration: none; background-color:#992621; ">
      <a href="#" style="text-decoration: none; ">
        <h4 class="user-box-items" style=" font-weight: bold; color:#fff; padding:20px;">Photos</h4>
      </a>
        
    </div>
  </div>
  
  <div class="col">
    <div class="user-box" style="text-decoration: none; background-color:#992621; ">
      <a href="#" style="text-decoration: none;">
        <h4 class="user-box-items" style=" font-weight: bold; color:#fff; padding:20px;">Videos</h4>
      </a>
        
    </div>
  </div>
  <div class="ade"style="display: flex; justify-content: space-between;margin-top:30px;  ">
       
    <a href="{% url 'mcc'%}" style="text-decoration: none;  text-align:center; color: #000;">
      <h6>+ Join MCC now</h6>
    </a>
    </div>
</div>
</div>
<!--end of photo album-->



<!--photo album-->
<!-- This is CJC a ministry in campus ministry -->
<div class="ade" style=" background-color: #fff; background-color: #fff; padding:30px; border-radius:20px; box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
background-color: #fff; padding:30px; border-radius:20px; margin-bottom:30px;  ">
<h6 style="margin-bottom:30px; "><b> Central Jubilee Choir(CJC)
</b></h6>
    <div class="ade"style="display: flex; justify-content: space-between; margin-bottom:30px;  ">
      <img src="{% static 'image/WhatsApp Image 2022-12-04 at 15.27.31.jpg' %}" alt=""style="width:100%; height:100%; border-radius:0 30px 0 30px"  > 
</a>
     


</div>

<div class="ade"style="display: flex; justify-content: space-between;  ">
 
<a href="" style="text-decoration: none;  text-align:center; color: #fff;"></a>
</div>
<div class="row" style="text-align: center; margin: auto; display:flex; overflow: auto;">

  <div class="col">
    <div class="user-box" style="text-decoration: none; background-color:#992621; ">
      <a href="#" style="text-decoration: none; ">
        <h4 class="user-box-items" style=" font-weight: bold; color:#fff; padding:20px;">Photos</h4>
      </a>
        
    </div>
  </div>
  
  <div class="col">
    <div class="user-box" style="text-decoration: none; background-color:#992621; ">
      <a href="#" style="text-decoration: none;">
        <h4 class="user-box-items" style=" font-weight: bold; color:#fff; padding:20px;">Videos</h4>
      </a>
        
    </div>
  </div>
  <div class="ade"style="display: flex; justify-content: space-between;margin-top:30px;  ">
       
    <a href="{% url 'CJC'%}" style="text-decoration: none;  text-align:center; color: #000;">
      <h6>+ Join CJC now</h6>
    </a>
    </div>
</div>
</div>
<!--end of photo album-->



<!--photo album-->
<!-- This Levite Generation a ministry in campus minitry -->
<div class="ade" style=" background-color: #fff; background-color: #fff; padding:30px; border-radius:20px; box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
background-color: #fff; padding:30px; border-radius:20px; margin-bottom:30px;  ">
<h6 style="margin-bottom:30px; "><b> LEVITE GENERATION
</b></h6>
    <div class="ade"style="display: flex; justify-content: space-between; margin-bottom:30px;  ">
      <img src="{% static 'image/WhatsApp Image 2022-12-04 at 15.26.25.jpg'%}" alt=""style="width:100%; height:100%; border-radius:0 30px 0 30px"  > 
</a>
     


</div>

<div class="ade"style="display: flex; justify-content: space-between;  ">
 
<a href="" style="text-decoration: none;  text-align:center; color: #fff;"></a>
</div>
<div class="row" style="text-align: center; margin: auto; display:flex; overflow: auto;">

  <div class="col">
    <div class="user-box" style="text-decoration: none; background-color:#992621; ">
      <a href="/userbase" style="text-decoration: none; ">
        <h4 class="user-box-items" style=" font-weight: bold; color:#fff; padding:20px;">Photos</h4>
      </a>
        
    </div>
  </div>
  
  <div class="col">
    <div class="user-box" style="text-decoration: none; background-color:#992621; ">
      <a href="/usernewform" style="text-decoration: none;">
        <h4 class="user-box-items" style=" font-weight: bold; color:#fff; padding:20px;">Videos</h4>
      </a>
        
    </div>
  </div>
  <div class="ade"style="display: flex; justify-content: space-between;margin-top:30px;  ">
       
    <a href="{% url 'LG'%}" style="text-decoration: none;  text-align:center; color: #000;">
      <h6>+ Join LG now</h6>
    </a>
    </div>
</div>
</div>
<!--end of photo album-->

<!--photo album-->
<!-- This Communion a ministry in campus ministry -->
<div class="ade" style=" background-color: #fff; background-color: #fff; padding:30px; border-radius:20px; box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
background-color: #fff; padding:30px; border-radius:20px; margin-bottom:30px;  ">
<h6 style="margin-bottom:30px; "><b> Communion
</b></h6>
    <div class="ade"style="display: flex; justify-content: space-between; margin-bottom:30px;  ">
      <img src="{% static 'image/WhatsApp Image 2022-12-04 at 15.30.26.jpg'%}" alt=""style="width:100%; height:100%; border-radius:0 30px 0 30px"  > 
</a>
     


</div>

<div class="ade"style="display: flex; justify-content: space-between;  ">
 
<a href="" style="text-decoration: none;  text-align:center; color: #fff;"></a>
</div>
<div class="row" style="text-align: center; margin: auto; display:flex; overflow: auto;">

  <div class="col">
    <div class="user-box" style="text-decoration: none; background-color:#992621; ">
      <a href="/userbase" style="text-decoration: none; ">
        <h4 class="user-box-items" style=" font-weight: bold; color:#fff; padding:20px;">Photos</h4>
      </a>
        
    </div>
  </div>
  
  <div class="col">
    <div class="user-box" style="text-decoration: none; background-color:#992621; ">
      <a href="/usernewform" style="text-decoration: none;">
        <h4 class="user-box-items" style=" font-weight: bold; color:#fff; padding:20px;">Videos</h4>
      </a>
        
    </div>
  </div>
  <div class="ade"style="display: flex; justify-content: space-between;margin-top:30px;  ">
       
    <a href="{% url 'communion'%}" style="text-decoration: none;  text-align:center; color: #000;">
      <h6>+ Join Communion now</h6>
    </a>
    </div>
</div>
</div>
<!--end of photo album-->


<!--photo album-->
<!-- This is discipleship a ministry in campus ministry -->
<div class="ade" style=" background-color: #fff; background-color: #fff; padding:30px; border-radius:20px; box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
background-color: #fff; padding:30px; border-radius:20px; margin-bottom:30px;  ">
<h6 style="margin-bottom:30px; "><b> Discipleship
</b></h6>
    <div class="ade"style="display: flex; justify-content: space-between; margin-bottom:30px;  ">
      <img src="{% static 'image/WhatsApp Image 2023-04-05 at 01.47.19.jpg'%}" alt=""style="width:100%; height:100%; border-radius:0 30px 0 30px"  > 
</a>
     


</div>

<div class="ade"style="display: flex; justify-content: space-between;  ">
 
<a href="" style="text-decoration: none;  text-align:center; color: #fff;"></a>
</div>
<div class="row" style="text-align: center; margin: auto; display:flex; overflow: auto;">

  <div class="col">
    <div class="user-box" style="text-decoration: none; background-color:#992621; ">
      <a href="/userbase" style="text-decoration: none; ">
        <h4 class="user-box-items" style=" font-weight: bold; color:#fff; padding:20px;">Photos</h4>
      </a>
        
    </div>
  </div>
  
  <div class="col">
    <div class="user-box" style="text-decoration: none; background-color:#992621; ">
      <a href="/usernewform" style="text-decoration: none;">
        <h4 class="user-box-items" style=" font-weight: bold; color:#fff; padding:20px;">Videos</h4>
      </a>
        
    </div>
  </div>
  <div class="ade"style="display: flex; justify-content: space-between;margin-top:30px;  ">
       
    <a href="{% url 'discipleship'%}" style="text-decoration: none;  text-align:center; color: #000;">
      <h6>+ Join Discipleship now</h6>
    </a>
    </div>
</div>
</div>
<!--end of photo album-->


<!--photo album-->
<!-- This protocol a ministry in campus ministry -->
<div class="ade" style=" background-color: #fff; background-color: #fff; padding:30px; border-radius:20px; box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
background-color: #fff; padding:30px; border-radius:20px; margin-bottom:30px;  ">
<h6 style="margin-bottom:30px; "><b> Protocol
</b></h6>
    <div class="ade"style="display: flex; justify-content: space-between; margin-bottom:30px;  ">
      <img src="{% static 'image/WhatsApp Image 2022-12-04 at 15.26.56.jpg'%}" alt=""style="width:100%; height:100%; border-radius:0 30px 0 30px"  > 
</a>
     


</div>

<div class="ade"style="display: flex; justify-content: space-between;  ">
 
<a href="" style="text-decoration: none;  text-align:center; color: #fff;"></a>
</div>
<div class="row" style="text-align: center; margin: auto; display:flex; overflow: auto;">

  <div class="col">
    <div class="user-box" style="text-decoration: none; background-color:#992621; ">
      <a href="/userbase" style="text-decoration: none; ">
        <h4 class="user-box-items" style=" font-weight: bold; color:#fff; padding:20px;">Photos</h4>
      </a>
        
    </div>
  </div>
  
  <div class="col">
    <div class="user-box" style="text-decoration: none; background-color:#992621; ">
      <a href="/usernewform" style="text-decoration: none;">
        <h4 class="user-box-items" style=" font-weight: bold; color:#fff; padding:20px;">Videos</h4>
      </a>
        
    </div>
  </div>
  <div class="ade"style="display: flex; justify-content: space-between;margin-top:30px;  ">
       
    <a href="{% url 'protocol'%}" style="text-decoration: none;  text-align:center; color: #000;">
      <h6>+ Join Protocol now</h6>
    </a>
    </div>
</div>
</div>
<!--end of photo album-->


<!--photo album-->
<!-- This missions and evangelism a minitry in campus minitry -->
<div class="ade" style=" background-color: #fff; background-color: #fff; padding:30px; border-radius:20px; box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
background-color: #fff; padding:30px; border-radius:20px; margin-bottom:30px;  ">
<h6 style="margin-bottom:30px; "><b> Missions and Evangelism
</b></h6>
    <div class="ade"style="display: flex; justify-content: space-between; margin-bottom:30px;  ">
      <img src="{% static 'image/WhatsApp Image 2022-12-04 at 15.27.12.jpg'%}" alt=""style="width:100%; height:100%; border-radius:0 30px 0 30px"  > 
</a>
     


</div>

<div class="ade"style="display: flex; justify-content: space-between;  ">
 
<a href="" style="text-decoration: none;  text-align:center; color: #fff;"></a>
</div>
<div class="row" style="text-align: center; margin: auto; display:flex; overflow: auto;">

  <div class="col">
    <div class="user-box" style="text-decoration: none; background-color:#992621; ">
      <a href="/userbase" style="text-decoration: none; ">
        <h4 class="user-box-items" style=" font-weight: bold; color:#fff; padding:20px;">Photos</h4>
      </a>
        
    </div>
  </div>
  
  <div class="col">
    <div class="user-box" style="text-decoration: none; background-color:#992621; ">
      <a href="/usernewform" style="text-decoration: none;">
        <h4 class="user-box-items" style=" font-weight: bold; color:#fff; padding:20px;">Videos</h4>
      </a>
        
    </div>
  </div>
  <div class="ade"style="display: flex; justify-content: space-between;margin-top:30px;  ">
       
    <a href="{% url 'missions'%}" style="text-decoration: none;  text-align:center; color: #000;">
      <h6>+ Join Mission & Evanglism now</h6>
    </a>
    </div>
</div>
</div>
<!--end of photo album-->


<!--photo album-->
<!-- This peer counsellors a ministry in campus ministry -->
<div class="ade" style=" background-color: #fff; background-color: #fff; padding:30px; border-radius:20px; box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
background-color: #fff; padding:30px; border-radius:20px; margin-bottom:30px;  ">
<h6 style="margin-bottom:30px; "><b> Peer Counsellors Ministry
</b></h6>
    <div class="ade"style="display: flex; justify-content: space-between; margin-bottom:30px;  ">
      <img src="{% static 'image/WhatsApp Image 2022-12-04 at 15.26.00.jpg'%}" alt=""style="width:100%; height:100%; border-radius:0 30px 0 30px"  > 
</a>
     


</div>

<div class="ade"style="display: flex; justify-content: space-between;  ">
 
<a href="" style="text-decoration: none;  text-align:center; color: #fff;"></a>
</div>
<div class="row" style="text-align: center; margin: auto; display:flex; overflow: auto;">

  <div class="col">
    <div class="user-box" style="text-decoration: none; background-color:#992621; ">
      <a href="/userbase" style="text-decoration: none; ">
        <h4 class="user-box-items" style=" font-weight: bold; color:#fff; padding:20px;">Photos</h4>
      </a>
        
    </div>
  </div>
  
  <div class="col">
    <div class="user-box" style="text-decoration: none; background-color:#992621; ">
      <a href="/usernewform" style="text-decoration: none;">
        <h4 class="user-box-items" style=" font-weight: bold; color:#fff; padding:20px;">Videos</h4>
      </a>
        
    </div>
  </div>
  <div class="ade"style="display: flex; justify-content: space-between;margin-top:30px;  ">
       
    <a href="{% url 'peer'%}" style="text-decoration: none;  text-align:center; color: #000;">
      <h6>+ Join Peer Counsellors</h6>
    </a>
    </div>
</div>
</div>
<!--end of photo album-->


<!--photo album-->
<!-- This is Lord's band a minitry in campus ministry -->
<div class="ade" style=" background-color: #fff; background-color: #fff; padding:30px; border-radius:20px; box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
background-color: #fff; padding:30px; border-radius:20px; margin-bottom:30px;  ">
<h6 style="margin-bottom:30px; "><b> The Lord's Band
</b></h6>
    <div class="ade"style="display: flex; justify-content: space-between; margin-bottom:30px;  ">
      <img src="cta-banner.jpg" alt=""style="width:100%; height:100%; border-radius:0 30px 0 30px"  > 
</a>
     


</div>

<div class="ade"style="display: flex; justify-content: space-between;  ">
 
<a href="" style="text-decoration: none;  text-align:center; color: #fff;"></a>
</div>
<div class="row" style="text-align: center; margin: auto; display:flex; overflow: auto;">

  <div class="col">
    <div class="user-box" style="text-decoration: none; background-color:#992621; ">
      <a href="/userbase" style="text-decoration: none; ">
        <h4 class="user-box-items" style=" font-weight: bold; color:#fff; padding:20px;">Photos</h4>
      </a>
        
    </div>
  </div>
  
  <div class="col">
    <div class="user-box" style="text-decoration: none; background-color:#992621; ">
      <a href="/usernewform" style="text-decoration: none;">
        <h4 class="user-box-items" style=" font-weight: bold; color:#fff; padding:20px;">Videos</h4>
      </a>
        
    </div>
  </div>
  <div class="ade"style="display: flex; justify-content: space-between;margin-top:30px;  ">
       
    <a href="{% url 'band'%}" style="text-decoration: none;  text-align:center; color: #000;">
      <h6>+ Join The lord's Band</h6>
    </a>
    </div>
</div>
</div>
<!--end of photo album-->


<!--Peer Counsellors-->


<!--end of peer Counsellors-->


<!-- This is the mobile view -->

<div class="mobile-bottom-navigation">

    <button class="action-btn">
        <ion-icon name="home-outline"></ion-icon>
      </button>

 

      <a href="main.html"><button class="action-btn">
        <ion-icon name="home-outline"></ion-icon>
    
        <span class="count">12</span>
      </button></a>

 

  <button class="action-btn">
    <ion-icon name="home-outline"></ion-icon>
    <span class="count">60</span>
  </button>


<!--  <button class="action-btn" data-mobile-menu-open-btn>
    <ion-icon name="-outline"></ion-icon>
  </button>-->

  <button class="action-btn" data-mobile-menu-open-btn>
    <ion-icon name="grid-outline"></ion-icon>
  </button>

</div>


<!--box-->
<br>
<!--end of box--> 
<!--ending-->
<h6 class="text-muted" style="padding-bottom:2vh; text-align:center;">Rearrange your favorite taps</h6>
<!---->
</div>

  
</div>
</div>




<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>




    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
  

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js" integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous"></script>

</body>
</html>
