<h1 style="text-align: center; font-size: 300%;">You have successfully logged out</h1>
<a href="{% url 'signin' %}" style="text-decoration: none; text-align:center; font-size: 200%;"><h2>Sign In</h2></a>