{% load static %}



<!doctype html>
<html lang="en">
  <head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/form.css' %}">

  </head>
  <body>
    

{% block content %}
    <div class="container">
     

      <div style="text-align:center;">
        <h4>Login</h4>
        <h6  style="margin-bottom
        :60px;" class="text-muted">Welcome to The CU Campus App</h6>
        <div class="">
        <img src="{% static 'image/CU logo.jpg'%}" alt="" width="30%" height="40%">
      </div>
         <div class="form-group">
          <form method="POST" class="my-form">
            {% csrf_token %}
            {{ form.as_p }}
          
         </div>
      </div>

      <div class="fill" style=" text-align:center;  margin-top:20px;">
        <button style="background-color:#FF5733; margin-bottom:20px;  padding:15px; text-align:center; border-radius:20px; margin:auto; color:#fff; width:300px; "><h6 >Sign in</h6></button>
       <h6 class="text-muted" style="margin-top:10px; "> Don't have an account?  </h6>
        <h6><a href="{% url  'registration'%}" style="text-decoration:none; "> Sign Up!</h6>
         

       </form>
       
      
      </div>
    </div>  


    {% endblock content%}




    



   
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>