{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible Content-Type" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" type="text/css" href="{% static 'css/new.css' %}">
   

    <link rel="stylesheet" href="{% static 'css/prefix.css' %}">
   
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <title>Testimony Box</title>
    <!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
    
  <!--
    - favicon
  -->
  <link rel="shortcut icon" href="/static/images/logo/favicon.ico" type="image/x-icon">

  <!--
    - custom css link
  -->


  <!--
    - google font link
  -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap"
    rel="stylesheet">
<link href="https://cdnjs.cloudflare.com/ajax/libs/mediaelement/4.2.7/mediaelementplayer.min.css" rel="stylesheet"/>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
  <!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>


</head>
<body>

    <!--
<script src="//code.tidio.co/z46yutguynyvhsigmqopusi6j8nnpg2c.js" async></script>
-->
<div class="container" >
  
    <!--nav-bar-slider-->
    <nav class="navbar bg-light fixed-top">
      <div class="container-fluid">
       <a href="{% url 'home' %}" style="text-decoration:none;"> <h5 style=" color: #000;" ><b>Back<b> </h5></a>
    
        
        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
          <span class="navbar-toggler-icon"></span>
        </button>
  
        <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel" >
          <div class="offcanvas-header">
            <h3 class="offcanvas-title" id="offcanvasNavbarLabel" style="background-color:gray; padding:7px; width:90px; border-radius:30px; text-align:center; ">App </h3>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
          </div>
  
          <div class="offcanvas-body">
            <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'signOut' %}"><h4>Signout</a>
                  </li>
                </li>
            </ul>
           
          </div>
        </div>
      </div>
    </nav>
  <!--end of navbar-->

<!--hero section-->
<div class="row" style=" border-radius:0 0 0 150px; padding: 20px; background: #992621;">
    <h6 class="text-muted"  >Project Outline</h6>
    <div class="ade" style="display: flex; justify-content: space-between; margin-top:10px;">
      <a href="" style="text-decoration: none; color: #fff; margin-top:40px; margin-right:px;">
       <h5><b>Testimony Box</h5>
       <h6>Type your testimony here</h6>
      
     </a>
         <img src="{% static 'image/cta-banner.jpg' %}" alt=""style="width:160px;margin-top:20px;object-fit:cover; border-radius:10px; height:150px;"  >
    </div>
  </div>
  <!--end of hero-->
  <br>
  
  <div class="mobile-bottom-navigation">

    <button class="action-btn">
        <ion-icon name="home-outline"></ion-icon>
      </button>

 

  <a href="ministry.html"><button class="action-btn">
    <ion-icon name="home-outline"></ion-icon>

    <span class="count">12</span>
  </button></a>

 

  <button class="action-btn">
    <ion-icon name="home-outline"></ion-icon>
    <span class="count">60</span>
  </button>


<!--  <button class="action-btn" data-mobile-menu-open-btn>
    <ion-icon name="-outline"></ion-icon>
  </button>-->

  <button class="action-btn" data-mobile-menu-open-btn>
    <ion-icon name="grid-outline"></ion-icon>
  </button>

</div>
<div class="testimony">
    <div class="Textarea">
        <textarea id="testi" class="form-control"  cols="138" rows="14" placeholder="Type your testimony here"></textarea>
    </div>
    <div class="submit-button">
       <button type="button"  class="btn btn-primary" onclick="whatsApp();" style="background-color:#FF5733; margin-bottom:20px;  padding:15px; text-align:center; border-radius:20px; margin:auto; color:#fff; width:300px;"><h6> Send Request </h6></button>
    </div> 
</div>

<script src="{% static 'js/script.js' %}"></script>
</body>
</html>